---
import "../styles/tailwind.css";

export type Props = Record<string, unknown>;
const props = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>
